
@{
    ViewBag.Title = "Register";
}

@*Giống như include trong Laravel*@

@Html.Partial("_View")

@*View*@

<h2>Register</h2>
<p>@ViewBag.username</p>
<p>@ViewBag.email</p>
<p>@ViewData["chuoi~"]</p>
